body{
  background-color: black;
}

.thermostat {
  border-radius: 90px;
  border: 2px solid #73AD21;
  border-color: black;
  height: 400px;
  width: 500px;
  margin: 15% auto;
  background-color: red;
}
.top{
  margin-top: 15%;
}
.display {
  border-radius: 10px;
  border-style: groove;
  border-color: black;
  border-width: 5px;
  padding-top: 5px;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  background-color: white;
  text-align: center;
  height: 150px;
  width: 200px;
  border-color: white;
  margin: 4% auto;
}
.controls{
  margin-top: 10%;
  text-align: center;
}

#increase {
  border-radius: 10px;
  font-size: 30px;
  height: 50px;
  width: 80px;
}
#decrease{
  border-radius: 10px;
  font-size: 30px;
  height: 50px;
  width: 80px;
}
#on{
  border-radius: 10px;
  font-size: 13px;
  height: 50px;
  width: 80px;
}
#off{
  border-radius: 10px;
  font-size: 13px;
  height: 50px;
  width: 80px;
}
.bottom-bar {
  margin: 3% auto;
    text-align: center;
}
#reset{
  margin: 3px auto;
  text-align: center;
}
